<h1> Welcome to our Bustle Clone </h1>

We hope it functions like bustle when we're done.

<ul>
  {{#each model as |article|}}
    {{article-tile article=article}}
  {{/each}}
</ul>

<!--
<h3>{{article.title}}'s</h3>
<li>{{article.content}}</li>
<li><img src={{article.image}} alt={{article.title}}></li> -->
